{% extends "main.html" %}

{% block main %}

{{ titulo }}

<div class="container">
    <br><label for="">Umidade:</label>
    <div class="d-none d-lg-block" id="visor">juninn</div>
    <div class="d-lg-none" id="visor">juninn</div>

    <br>
    <button type="button" class="btn btn-success" id="poweron">Ligar</button>
    <button type="button" class="btn btn-danger" id="poweroff">Desligar</button>

</div>


{% endblock %}
{% block script %}
{% include "script.html" %}
<script src="/js/home.js"></script>
{% endblock %}